

<%= react_component 'Main' %>
<h1>Test Index</h1>
<script type="text/javascript">
width='100%';	// the width of the embedded map in pixels or percentage
height='500';	// the height of the embedded map in pixels or percentage
border='0';	// the width of the border around the map (zero means no border)
shownames='false';	// to display ship names on the map (true or false)
latitude='37.4460';	// the latitude of the center of the map, in decimal degrees
longitude='24.9467';	// the longitude of the center of the map, in decimal degrees
zoom='1';	// the zoom level of the map (values between 2 and 17)
maptype='0';	// use 0 for Normal Map, 1 for Satellite, 2 for OpenStreetMap
trackvessel='244670249';	// MMSI of a vessel (note: vessel will be displayed only if within range of the system) - overrides "zoom" option
fleet='vanmarle.n@gmail.com';	// the registered email address of a user-defined fleet (user's default fleet is used)
</script> <script type="text/javascript" src="//marinetraffic.com/js/embed.js"></script>
